@import './_mixins.scss';
@import './_gogo.style.scss';
@import './_plugins.scss';
@import './custom/_landing.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/
.landing-page .landing-page-nav .navbar-logo {
  width: 340px;
  height: 74px;
}

.landing-page .landing-page-nav .navbar-logo .white {
  width: 340px;
  height: 74px;
}

.landing-page .landing-page-nav .navbar-logo .dark {
  width: 340px;
  height: 74px;
}
.heading-people {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-bottom: 1.1em;
  color: #fff;
  font-weight: 300;
}
.about-row {
  margin-bottom: 16px;
}

.landing-page .landing-page-nav .navbar-nav .nav-item > a,
.landing-page .landing-page-nav .navbar-nav .nav-item > .dropdown > a {
  color: #fff;
  font-family: Nunito, sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 0;
}

.landing-page .landing-page-nav .headroom--pinned .navbar-nav a {
  color: #3a3a3a;
}
.navbar .navbar-logo {
  width: 100%;
  height: 100%;
}
